VITE_BACKEND_URL=http://localhost:3000

# Program selection
# stable  -> VITE_PROGRAM_ID
# staging -> VITE_STAGING_PROGRAM_ID
VITE_PROGRAM_STAGE=stable
VITE_PROGRAM_ID=ETEEEssGKAAQEGwz3ggDcy9vzPAPtBjtb2KocdyLBMjh
VITE_STAGING_PROGRAM_ID=
